body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    display:flex;
    justify-content: center;
    margin-top: 14%;
    margin-bottom: 14%;
    max-width: 1440px;
    
}

/*IDs*/

#componente-nft{
    box-shadow:2px  18px 6px 20px hsla(214, 51%, 9%, 0.79),2px  12px 6px 39px hsla(217, 62%, 8%, 0.133);
    border:1px solid hsl(216, 50%, 16%);
    background-color:hsl(216, 50%, 16%);
    border-radius: 20px;
    padding-top:5px;
    width: 300px;
    height: 530px;
}

.image-container {
    position: relative;
    left:17px;
    top:11px;
    width:265px; 
    height:270px;
    border-radius:10px;
    cursor: pointer;
  }

.image-container img.first-image {
    position: absolute;
    top: 0;
    left: 0;
    width:265px;
    height:260px;
    border-radius:10px;
   
    
  }

.image-container img.second-image {
    position: absolute;
    top: 110px;
    left: 110px;
    right: 100px;
    
    border-radius:10px;
    
  }

.image-container img.second-image {
    display: none;
  }

.image-container:active img.first-image {
    display: block;
  }

.image-container:active img.second-image {
    display:block;
    
    
}
#container{
    position: relative;
    left:0px;
    top:0px;
    width:265px; 
    height:260px;
    border-radius:10px;
    cursor: pointer;
    
  }
#container:active{
    background-color: hsl(178, 100%, 50%);
    opacity: 0.6;
    
}

#imagem-ethereum{
    padding-left:21px;
    padding-top:10px;
}

#imagem-clock{
    margin-left:75px;
}

#session-1{
    margin-top:25px;
    padding-bottom: 3px;
}
#session-2{
    margin-top:12px;
}
#imagem-avatar img{
    width:28px;
    height: 28px;
    border: 1px solid white;
    border-radius:100%;
    margin-left:25px;
}

#texto-span{
    cursor:pointer;
    position:relative;
    left:12px;
    bottom:9px;
    font-weight: 300;
}
/*Seletores*/

h4{
    color:hsl(0, 0%, 100%);
    font-size:18px;
    padding-left:21px;
    padding-top:0px;
    cursor:pointer;
}

h4:hover{color:hsl(193, 87%, 61%);}
p{  
    color:hsl(214, 14%, 50%);
    font-size:14.5px;
    padding-left:21px;
    padding-top:0px;
}

hr{
    background-color: hsla(214, 33%, 49%, 0.326);
    width: 250px;
    height: 2px;
    border:none;
    margin-top:12px;

}

a.ciano{
    font-size:15px;
    color:hsl(193, 87%, 61%);
    font-weight: bold;
    padding-left:6px;
    position:relative;
    z-index: 0;
    bottom:3px;
}
a.cinza{
    font-size:14px;
    color:hsl(214, 14%, 50%);
    font-weight: bold;
    padding-left:3px;
    position:relative;
    z-index: 0;
    bottom:3px;
}

span.cinza{
    color:hsl(214, 14%, 50%);
    font-size:15px;

}

span.branco{
    color:white;
    font-size:15px;
}
span.branco:hover{
    color:hsl(193, 87%, 61%);
}